<html lang="es">
<body>
    <table style="max-width: 600px; font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4fa; padding: 5rem 5rem 1rem; margin: 0 auto;">
        <tr>
            <td>
                <img style="width: 15%;" src="https://res.cloudinary.com/mrrobnav/image/upload/v1635296482/deepfeels/photo5170500515799345596_rpwvjk.jpg">
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: justify;">
                    <h2 style="margin: 2rem 0 1rem; font-weight: 600;">¡Hola {{name}}!</h2>
                    <p style="margin: .2rem 0 2rem; font-size: 15px;">
                        Estás a un paso para poder restablecer tu <br>
                        contraseña. Sólo da click en el siguiente <br>
                        enlace:
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a style="color: white; background-color: #6d7dd0; text-decoration: none; padding: .75rem;
                border-radius: .5rem; font-size: 14px; font-weight: bold;" href="{{link}}">Restablecer contraseña</a>
            </td>
        </tr>

        <tr>
            <td>
                <div align="center" style="margin-top: 5.5rem;">
                    <img style="width: 30%;;"  src="https://res.cloudinary.com/mrrobnav/image/upload/v1635296482/deepfeels/photo5170500515799345595_au34mi.jpg">
                </div>
            </td>
        </tr>

    </table>
</body>
</html>